.conquering{
    display: flex;
    justify-content: flex-end;

    h2 {
        margin-top: 200px;
        margin-left: -4px;    
        margin-bottom: 100px;
    }

    & p{
        margin-bottom: 30px;
    }

    &__image {
        overflow: hidden; 
        height: 850px;
    }

    &__title {
        max-width: 515px;
        margin: 0 105px 0 140px;
    }
}
