.team{
    margin-bottom: 200px;
    
    & .title{
        margin-bottom: 210px;
    }

    & h2{
    margin-left: -37px;
    }

    &__info {
        display: flex;
        grid-gap: 105px;
        text-align: center;
    }

    &__item p:nth-child(2) {
        margin-top: 22px;
        margin-bottom: 5px;
        font-weight: 700;
    }
}
