
.title-h1{
    font-family: $font-family-more;
    font-size: $text-size-h1;
    font-weight: 700;
    line-height: 234px;
    letter-spacing: 0.6px;
    margin: 0;
}

.title-h2{
    font-family: $font-family-more;
    font-size: $text-size-large;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0.6px;
    margin: 0;
    text-align: center;
}

.main-text-300{
    font-family: $font-family-main;
    font-size: $text-size-min;
    font-weight: 300;
    line-height: 18px;
    letter-spacing: 0.6px;
    margin: 0;
}

.main-text-400{
    font-family: $font-family-main;
    font-size: $text-size-min;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
    margin: 0;
}

.text-min{
    font-family: $font-family-main;
    font-size: $text-size-min2;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
    margin: 0;
}

.text-normal{
    font-family: $font-family-main;
    font-size: $text-size-normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.6px;
    margin: 0;
}

.text-large{
    font-family: $font-family-main;
    font-size: $text-size-large;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0.6px;
    margin: 0;
}

.text-very-large{
    font-family: $font-family-main;
    font-size: $text-size-very-large;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 0.6px;
    margin: 0;
}

.text-big{
    font-family: $font-family-main;
    font-size: $text-size-big;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.6px;
    margin: 0;
}

.button-one{
    border: 1px solid #C4C4C4;
    text-transform: uppercase;
    background-color: #ffffff;
    padding: 28px 92px 23px;
    cursor: pointer;
    
    &:hover{
        color: $color-hover;
        border-color: $color-hover;
    }
}