.about-us{
    .container{
        padding-top: 190px;
        padding-bottom: 165px;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
        
        p {
            max-width: 480px;
            width: 50%;
            margin-bottom: 30px;

            &:nth-child(2n+1) {
                margin-right: 125px;
            }
        }
        
    }
}