.get-at{
    background-color: $color-three;
 
    & .title-h2{
        margin-left: -43px;
    }

    .container{
        padding-top: 197px;
        padding-bottom: 75px;
    }

    h2{
        margin-bottom: 100px;

        &:after{
            width: 15px;
        }
    }

    &__list, &__list-two {
        display: flex;
        margin-bottom: 94px;
    }

    &__item {
        width: 33%;
        max-width: 350px;
        margin-right: 78px;

        &--text{
            margin-top: 12px;
        }

        &--title{
            line-height: 28px;
        }

        &:last-child{
            margin-right: 0px;
        }

        div {
            display: flex;
            align-items: center;
            height: 55px;
            justify-content: center;

            img {
                margin-right: 10px;
            }
        }
    }

    &__percent{
        margin-right: 260px;

        img {
            padding-top: 15px;
            margin-right: 8px;
        }
    }

    &__text{
        max-width: 600px;
        
        p{
            margin-bottom: 30px;
            margin-top: 8px;
        }
    }
}