.video{
    margin-bottom: 196px;

    .container{
        position: relative;
    }

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-left: 75px solid #373A39;
        border-top: 45px solid transparent;
        border-bottom: 45px solid transparent;
    }
}
