@use 'variables';
@use 'text-style';
@use 'items';
@use 'animation';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: variables.$font-family-main;
    color: variables.$color-one;
}

.container {
    width: 1243px;
    margin: 0 auto;
}

.title-h2 {
    position: relative;
    margin-left: -25px;
    &:after {
        content: '';
        border-right: 9px solid variables.$color-hover;
        width: 23px;
        height: 50px;
        position: absolute;
        transform: skew(-35deg, 0deg);
        top: 18px;
    }
}

.title {
    margin-bottom: 97px;
}

/* Медиа запросы*/

@media screen and (min-width: 1920px){
    .conquering{
        justify-content: flex-end;
        
        &__title {
            margin: 0 105px 0 0;
        }
    }
}

@media screen and (max-width: 1500px){
    .about-us__info {
        justify-content: center;
    }
    .get-at__list, .get-at__list-two {
        justify-content: center;
    }
    .video .container{
        text-align: center;
    }
    .team__info {
        justify-content: center;
    }
    .gallery__images {
        justify-content: center;
    }
}

@media screen and (max-width: 1250px){
    .container {
        width: 900px;
    }
    .video img {
        width: 100%;
    }
    .about-us__info p {
        max-width: 45%;
        &:nth-child(2n+1) {
            margin-right: 0;
        }
    }
    .about-us__info {
        grid-gap: 20px;
    }
    .get-at__percent {
        margin-right: 100px;
    }
    .conquering__title {
        max-width: 350px;
    }
    .gallery__images img {
        width: 29%;
    }
    .slider__text {
        max-width: 540px;
    }
    .team__info {
        grid-gap: 40px;
        flex-wrap: wrap;
    }
    .services__info {
        grid-gap: 15px;
    }
    .maps img:last-child {
        width: 30px;
        left: 49%;
        top: 108px;
    }
}

@media screen and (max-width: 991px) {
    .container {
        width: 750px;
    }
    .title-h2{
        font-size: variables.$text-size-big;
    }
    .text-large{
        font-size: variables.$text-size-normal;
        line-height: 28px;
    }
    .text-big{
        font-size: variables.$text-size-normal;
    }
    .text-normal{
        font-size: variables.$text-size-min2;
    }
    .title-h2:after {
        border-right: 7px solid #00B2A0;
        height: 35px;
        top: 23px;
    }
    .conquering h2:after, .blog h2:after {
        transform: skew(-35deg, 0deg) translateX(-15px);
    }
    .conquering__image {
        height: 650px;
    }
    .menu__item {
        padding: 6px 12px;
    }
    .services__info {
        flex-wrap: wrap;
    }
    .about-us .container, .gallery .container, .services .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .get-at .container {
        padding-top: 100px;
        padding-bottom: 10px;
    }
    .get-at h2 {
        margin-bottom: 50px;
    }
    .get-at .title {
        margin-bottom: 0;
    }
    .conquering h2 {
        margin-top: 100px;
        margin-bottom: 50px;
    }
    .conquering__title {
        margin: 0 35px 0 40px;
        max-width: 50%;
    }   
    .gallery__items {
        padding-top: 0;        
        justify-content: center;
    }
    .quotation, .video, .total, .blog .title, .blog, .team .title, .team, .request .title, .request, .social {
        margin-bottom: 100px;
    }
    .quotation__author {
        text-align: right;
    }
    .maps {
        margin-top: 100px;
        padding-bottom: 100px;
    }
    .team__item img {
        max-width: 250px;
    }
    .services__item .text-big {
        padding-bottom: 30px;
    }
    .services__item {
        min-height: 390px;
    }
    .request__text .text-normal {
        margin-bottom: 20px;
    }
    .maps img:last-child {
        width: 25px;
        left: 49%;
        top: 62px;
    }
}

@media screen and (max-width: 768px) {
    .container{   
        width: 90%;   
    }
    .title-h1 {
       font-size: 100px;
    }
    .title-h2 {
        font-size: variables.$text-size-normal;
    }
    .about-us__info p {
       max-width: 100%;
       width: 100%;
    }
    .title {
        margin-bottom: 40px;
    }
    .about-us .container{
        margin-top: 50px;
        padding-top: 0;
        padding-bottom: 50px;
    }
    .gallery .container, .services .container {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .about-us__info {
        grid-gap: 0;
    }
    .get-at .container {
        padding-top: 50px;
    }
    .get-at__list, .get-at__list-two {
        flex-wrap: wrap;
        justify-content: flex-start;
        grid-gap: 20px;
    
    }
    .get-at__item {
        width: 100%;
        max-width: 100%;
        margin: 0;
    }
    .get-at__list, .get-at__list-two {
        margin-bottom: 50px;
    }
    .get-at__percent {
        margin: 0 auto;
    }
    .conquering {
        flex-direction: column;
    }
    .title.conquering__title {
        max-width: 100%;
    }
    .conquering h2 {
        margin-top: 50px;
    }
    .total .container {
        grid-gap: 35px;
    }
    .quotation, .video, .total, .blog .title, .blog, .team .title, .team, .request .title, .request, .social, .services .title {
        margin-bottom: 50px;
    }
    .services h2, .team h2, .blog h2, .gallery .title-h2, .get-at .title-h2, .about-us .title-h2, .gallery__button, footer img, .social__list {
        margin-left: 0;
    }
    .request__info {
        flex-direction: column;
        align-items: center;
    }
    .request__button {
        margin: 0 auto 50px;
    }
    .request__form {
        width: 100%;
        margin: 0;
    }
    .maps img:last-child {
        top: 50px;
    }
}

@media screen and (max-width: 650px) {
    .text-normal {
        font-size: variables.$text-size-min;
    }
    .title-h2{
        font-size: variables.$text-size-min2;
    }
    .banner {
        height: 270px;
    }
    .banner__info, .banner__img {
        flex-grow: 0;
    }
    header.header {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
    .logo {
        transform: scale(0.7);
    }
    .menu__item {
        padding: 6px 8px;
    }
    nav.menu {
        margin-top: -5px;
    }
    .menu__list {
        flex-wrap: wrap;
    }
    .banner__info--title {
        font-size: 45px;
        padding-top: 5px;
    }

    .banner__info--title {        
        padding-top: 20px;
        line-height: 1;
    }
    p.text-normal.banner__info--text {
        padding: 0;
    }
    .banner__main-img img{
        width: 100%;
        height: 270px;
    }
    .banner__img {
        transform: scale(0.6) translateX(0px);
        margin: 0 auto;
    }
    .quotation__text {
        margin: 0;
    }
    .quotation__author {
        width: 100%;
    }
    .total .container {
        flex-direction: column;
    }
    .request__text {
        padding: 30px;
        width: 80%;
    }
    footer {
        padding: 10px;
    }
    .video__play {
        border-left: 50px solid #373A39;
        border-top: 25px solid transparent;
        border-bottom: 25px solid transparent;
    }
    .gallery__images img {
        width: 40%;
    }
    .slider, .slider__image img {
        height: 330px;
    }
    .slider__toggle div {
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
    .slider__toggle {
        bottom: 20px;
        transform: translateX(-50%);
    }
    .maps img:last-child {
        width: 18px;
        left: 49%;
        top: 32px;
    }
}



@media screen and (max-width: 480px) {
    
    .title-h2 {
        line-height: 23px;
    }
    .text-large {
        font-size: variables.$text-size-min2;
    }
    .title {
        margin-bottom: 20px;
    }
    .logo {
        transform: scale(0.5);
    }
    .menu__list {
        justify-content: center;
    }
    .menu__item {
        padding: 2px 18px;
    }
    .banner {
        height: 270px;
    }
    .banner__main-img img {
        width: 140%;
    }
    .banner__img {
        transform: scale(0.4) translateX(0px);
    }
    .about-us .container {
        margin-top: 25px;
        padding-bottom: 25px;
    }
    .request__text {
        padding: 0;
    }
    .title-h2:after {
        height: 25px;
        transform: skew(-35deg, 0deg) translateX(-15px);
        top: 7px;
    }
    .about-us .title-h2:after {
         content: none;
    }
    .get-at .container {
        padding-top: 25px;
    }
    .get-at h2, .get-at__list, .get-at__list-two {
        margin-bottom: 25px;
    }
    .conquering h2{
        margin-bottom: 25px;
        margin-top: 25px;
    }
    .quotation .container {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .quotation__text {
        line-height: 25px;
        font-size: 18px;
    }
    .quotation, .video, .total, .blog .title, .blog, .team .title, .team, .request .title, .request, .social, .services .title {
        margin-bottom: 25px;
    }
    .request__button {
        width: 250px;
        padding: 25px;
        margin: 0 auto 25px;
    }
    .request__text .text-normal {
        padding: 15px;
        margin: 0;
    }
    .request__text .text-normal:last-child {
        margin-bottom: 25px;
    }
    .maps img:last-child {
        width: 10px;
    }
}
