@import 'variables';
@import 'text-style';
@import 'items/index';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:wght@100&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: $font-family-main;
    color: $color-one;
}

.container {
    width: 1243px;
    margin: 0 auto;
}

.title-h2 {
    position: relative;
    margin-left: -25px;
    &:after {
        content: '';
        border-right: 9px solid $color-hover;
        width: 23px;
        height: 50px;
        position: absolute;
        transform: skew(-35deg, 0deg);
        top: 18px;
    }
}

.title {
    margin-bottom: 97px;
}


@import 'media';